<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Cardapio</title>
</head>
<body>
<h1 th:text="${restaurante.nome}"> </h1>
<form th:action="@{/atualizar-cardapio/{id}/{cardapio_id}(id =${restaurante.id},cardapio_id =${cardapio.id})}"
      th:object="${cardapio}"
      method="post">
    <input type="hidden" th:name="idRestaurante" th:value="${restaurante.id}" />
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <label for="preco">Preço: </label>
    <input type="text" th:field="*{preco}" id="preco">
    <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
    <label for="descricao">Descrição: </label>
    <input type="text" th:field="*{descricao}" id="descricao">
    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
    <input type="submit" value="Enviar">
</form>
</body>
</html>