<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardápio</title>
</head>
<body>

<div th:switch="${cardapio}">
    <h2 th:case="null">Ainda não há cardápios!</h2>
    <div th:case="*">
        <h2>Cardápios</h2>
        <table>
            <thead>
            <tr>
                <th>Nome do prato</th>
                <th>Preço</th>
                <th>Alterar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cardapio}">
                <td th:text="${item.nome}"></td>
                <td th:text="${item.preco}"></td>
                <td><a th:href="@{'/atualizar-cardapio/' + ${item.id}}">Alterar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/novo-cardapio" class="round-btn">+</a> Adicionar Cardapio</p> <!-- Link para a página de cadastro de um novo restaurante -->
</div>

</body>
</html>
