<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardápio</title>
</head>
<body>
<h1 th:text="${restaurante.nome}"> </h1>
<div th:switch="${cardapios}">
    <h2 th:case="null">Ainda não há cardápios!</h2>
    <div th:case="*">
        <h2>Cardápios</h2>
        <table>
            <thead>
            <tr>
                <th>Nome do prato</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Alterar</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cardapios}">
                <td th:text="${item.nome}"></td>
                <td th:text="${item.preco}"></td>
                <td th:text="${item.descricao}"></td>
                <td><a th:href="@{'/atualizar-cardapio/' + ${restaurante.id} + '/' + ${item.id}}">Alterar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{'/novo-cardapio/' + ${id}}" class="round-btn">+</a> Adicionar um novo cardápio</p>
    <p><a href="/listar-restaurante" class="round-btn">+</a> Voltar</p> <!-- Link para a página de cadastro de um novo restaurante -->
</div>

</body>
</html>
