<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo cardapio</title>
</head>
<body>

<form th:action="@{/atualizar-cardapio/{id}(id=${restaurante.id})}"
      th:object="${cardapio}"
      method="post"> <!-- Formulário para atualização de um cardápio -->
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <label for="preco">Preço: </label>
    <input type="text" th:field="*{preco}" id="preco">
    <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
    <input type="submit" value="Enviar">
    <label> for "descricao">Descrição: </label>
    <input type="text" th:field="*{descricao}" id="descricao">
    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
    <input type="submit" value="Enviar">
</form>

<!-- <script>
    // Verifica se o áudio estava reproduzindo antes da atualização da página
    window.onload = function () {
        var audio = document.querySelector("audio");
        audio.play();
    }
</script> -->

</body>
</html>