<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Restaurante</title>
</head>
<body>
<form th:action="@{/atualizar-restaurante/{id}(id=${restaurante.id})}"
      th:object="${restaurante}"
      method="post"> <!-- Formulário para atualização de um restaurante -->
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <input type="submit" value="Enviar">
</form>

</body>
</html>